@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: montserrat;
}

header {
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8); /* grey dark transparent */
    backdrop-filter: blur(2px);        /* blur background behind */
    -webkit-backdrop-filter: blur(2px); /* Safari support */

    /*box-shadow: 0px 0px 10px grey;*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    position: fixed;
}

header .nav{
	height: 100px;
	width: 1270px;
	align-items: center;
	position: fixed;

}
header div{
	display: flex;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	gap: 40px;
}

header button{
	padding: 12px 27px;
	font-weight: 500;
	font-size: 14px;
	background-color: #CE3232;
	border: 0px solid;
	color: whitesmoke;
	transition: 0.5s ease;

}

.nav h2{
	font-size: 18px;
	color: whitesmoke;
}

.nav a,i{
	text-decoration: none;
	color: whitesmoke;
	transition: 0.4s ease;
}
.nav span{
	color: #CE3232;
}


.sec1{
    height:100vh;
    padding:250px 190px;
    color:white;

    background-image:url(slider-image1.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.sec1 h1{
	font-size: 42px;
	padding-top: 20px;
}
.sec1 h3{
	font-size: 14px;
	letter-spacing: 3px;
	padding-top: 20px;
}
.sec1 button{
	margin-top: 30px;
	background-color: #CE3232;
	padding: 12px 27px;
	border: 0px solid;
	font-weight: 500;
	color: whitesmoke;
	transition: 0.5s ease;
}

.nav a:hover{
	color:#CE3232 ;
}

header button:hover{
	background-color: black;
}

.sec1 button:hover{
	background-color: whitesmoke;
	color: black;
}

.sec2{
	height: 600px;
	/*padding: 250px 190px;*/
	margin: 0px 12% 0px 12%;
	/*background-color: whitesmoke;*/
	color: whitesmoke;
	align-content: center;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.sec2 h5,
.sec2 p{
	color: grey;
	padding-top: 20px;
	letter-spacing: 1px;
}

.sec2 h1{
	color: #333333;
	padding-top: 10px;
}
.sec2 .about{
	width: 40%;
	align-items: center;
}
.sec2 img{
	height: 400px;
	width: 600px;
}

.sec3{
	height: 900px;
	/*padding: 250px 190px;*/
	background-color: #f2f2f2;
	align-content: center;
	text-align: center;

}

.sec3 .group{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 30px;
	margin: 0px 12% 0px 12%;
	height: 600px;
	text-align: center;
	align-content: center;
	justify-items: center;
	justify-content: center;

}

.group img{
	width: 360px;
	height: 500px;
}

.group h2{
	padding: 30px 0px 0px 0px;
	color: #333333;
}
.group p{
	padding: 10px;
}
.sec3 h5{
	padding: 10px 0px 50px 0px;
	color: grey;
}
.sec3 h1{
	color: #333333;
}

.sec4{
	/*padding: 250px 190px;*/
	align-content: center;
	text-align: center;

}

.sec4 div{
	text-align: center;
	align-content: center;
	justify-items: center;
	justify-content: center;
}	

.sec4 img{
	width: 505px;
	height: 345px;
}

.sec4 .imgs{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 10px;

}
.sec4 h1{
	color: #333333;
	padding-top: 5%;

}

.sec4 h5{
	padding: 10px 0px 20px 0px;
	color: grey;}

.extra{
	height: 500px;
	background-image: url(testimonial-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: whitesmoke;
	align-content: center;
	align-items: center;
}

.extra p{
	color: whitesmoke;
	margin-left: 5%;
	padding-top: 20px;
}

.extra h1{
	margin-left: 5%;
}

.extra h3{
	color: silver;
	padding-top: 20px;
	text-align: left;
	margin-left: 5%;
}


.sec5{
	color: silver;
	height: 700px;
	align-content: center;
	display: flex;
	align-items: center;
	column-gap: 40px;
	justify-content: center;
}


.sec5 .contact input ,textarea{
	display:block;
	font-size: 16px;
	padding: 10px;
	width: 600px;
	height: 50px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

textarea{
	resize: none;
	height: 100px;
}

.contact h1{
	padding-bottom: 20px;
	color: #333333;
}

.contact button{
	padding:18px 250px;
	background-color: #CE3232;
	color: whitesmoke;
	font-weight: 500;
	font-size: 14px;
	border: none;
	transition: 0.5s ease;
}

.contact button:hover{
	background-color: black;
}

.map iframe{
	width: 520px;
	height: 410px;
}

.sec6{
	height: 400px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 50px;
	align-content: center;
	align-items: center;
	padding: 10%;
}

.sec6 p{
	font-size: 14px;
	color: grey;
}

.sec6 .box3{
	width: 320px;
	height:270px;
	background: url(footer.jpg) center no-repeat;
	background-size: cover;
	border-radius: 18px;
	overflow: hidden;
	position: relative;	
}

.overley{
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	color: whitesmoke;
	justify-content: center;
	text-align: left;
	align-content: center;
	padding-left: 40px;
}

.sec6 h2{
	font-size: 22px;
	color: #333333;
}
.sec6 p{
	padding-top: 10px;
}
.sec6 h3{
	font-size: 15px;
	padding-top: 15px;
}

.box3 .overley h2{
	color: whitesmoke;
	padding-bottom: 15px;
}

.box3 .overley p{
	color: silver;
	padding-top: 0px;
}

.sec6 .box4 .icons{
	display: flex;
	gap: 5px;
}

.icons div{
	border-radius: 50px;
	padding: 8px;
	transition: 0.4s ease;
}

.icons i{
	color: #CE3232;
	transition: 0.4s ease;
}

.icons  div:hover{
	background-color:#CE3232;
}

.icons  div i:hover{
	color: whitesmoke;
}




@media(max-width: 767px){
	body{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
}

/* ===============================
TABLET (≤1024px)
=================================*/

@media (max-width:1024px){

header .nav{
    width:95%;
}

.sec1{
    padding:200px 60px;
}

.sec2{
    flex-direction:column;
    height:auto;
    gap:40px;
    margin:80px 5%;
    text-align:center;
}

.sec2 .about{
    width:100%;
}

.sec2 img{
    width:100%;
    height:auto;
}

.sec3{
    height:auto;
    padding:80px 0;
}

.sec3 .group{
    grid-template-columns:repeat(2,1fr);
    height:auto;
}

.group img{
    width:100%;
    height:auto;
}

.sec4{
    height:auto;
    padding:80px 0;
}

.sec4 .imgs{
    grid-template-columns:repeat(2,1fr);
}

.sec4 img{
    width:100%;
    height:auto;
}

.sec5{
    flex-direction:column;
    height:auto;
    gap:50px;
}

.sec5 .contact input,
.sec5 textarea{
    width:100%;
}

.contact button{
    width:100%;
    padding:15px;
}

.map iframe{
    width:100%;
}

.sec6{
    grid-template-columns:repeat(2,1fr);
    height:auto;
}

}

/* ===============================
MOBILE (≤600px)
=================================*/

@media (max-width:600px){

header{
    display: none;
}

header div{
    display: none;
}

.nav{
    display: none;
}

.sec1{
    padding:180px 20px;
}

.sec1 h1{
    font-size:28px;
}

.sec2{
    margin:60px 20px;
}

.sec3 .group{
    grid-template-columns:1fr;
}

.sec4 .imgs{
    grid-template-columns:1fr;
}

.sec6{
    grid-template-columns:1fr;
    padding:60px 20px;
}

.sec6 .box3{
    width:100%;
}

}	

